h1 {
  font-size: 52px;
  text-align: center;
  text-decoration: bold;

}

#slogan {
	font-size: 40px;
	text-align: center;
}


body
{
	text-align: center;
	/*background: url();*/
	font-family: Helvetica;
	font-size: 22px;
	background-color: paleturquoise;
 }
 ul {
 	font-style: italic;
 }
 ul {
 	list-style-type: none;
 }




