h1 {
  font-size: 52px;
  text-align: center;

}


body
{
	text-align: center;
background: url()
font-style: Helvetica;
font-size: 22px;
background-color: paleturquoise;
 }

hr {
	width: 250px
	color: #fff;
} 

 ul {
 	font-style: italic;
 }
 ul {
 	list-style-type: none;
 }




