h1 {
  text-align: center;
}


body {
 text-align: center
}
 {background: url()
 }
 {font-family: Helvetica
 }
 {font-size: 22px}

 h2 {
 	text-align: center;
 }
 {
 	font-size: 30px
 }

 ul {
 	font-style: italic
 }
 ul {
 	list-style-type: none;
 }




