h1 {
  text-align: center;
}


body 
{
	background-color: paleturquoise
}
{
 text-align: center
}
 {background: url()
 }
 {font-family: Helvetica
 }
 {font-size: 22px}

 

 ul {
 	font-style: italic
 }
 ul {
 	list-style-type: none;
 }




